@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Corinthia:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Meow+Script&family=Mr+Dafoe&family=Ms+Madi&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}


.container-global-prof{
    background-color: #F3F6F8;
    width: 100vw;
    height: 100vh;
}
.header{
    background-color: #fff;
    box-shadow: 0px 4px 4px #00000017; /* Sombreamento */
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 52px;
}

.logo-publica{
    display: flex;
    width: 42px;
    height: 42px;
}

.logo-publica img{
    border-radius: 4px;
}