
.professor-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden; 
}

.publicacoes-container {
  flex: 1;
  overflow-y: auto; 
  padding: 20px;
  }
  
  .principal-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.nova-publicacao-btn {
  background-color: #4f46e5;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
    width: auto; 
    max-width: 200px; 
    text-align: center; 
}

.nova-publicacao-btn:hover {
  background-color: #3b3ba3;
}


.publicacoes-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.publicacoes-table th,
.publicacoes-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.publicacoes-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.error {
  color: red;
  font-weight: bold;
  text-align: center;
}


.acoes {
  display: flex;
  gap: 10px;
}

.editar-btn,
.excluir-btn {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  color: white;
  transition: background-color 0.3s;
}

.editar-btn {
  background-color: #4caf50;
}

.editar-btn:hover {
  background-color: #388e3c;
}

.excluir-btn {
  background-color: #f44336;
}

.excluir-btn:hover {
  background-color: #d32f2f;
}


.text-center {
  text-align: center;
}
